.works {
  width: 100%;
  padding-top: 100px;
}
.works__content {
  width: 100%;
}
.works__content__list h2 {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  font-size: 4.5rem;
  margin-bottom: 40px;
}
.works__content__list h2::before {
  position: absolute;
  left: 0px;
  bottom: -25px;
  content: "";
  width: 100px;
  height: 1px;
  background: rgb(246, 237, 219);
}
.-card {
  padding-top: 20px;
}
.-card__item {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.-card__item__img {
  position: relative;
  width: 100%;
}
.-card__item__img .-title {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  font-size: 10rem;
  text-align: center;
  transform: translateY(-50%);
}
.-card__item__text {
  margin-top: 20px;
}
.-card__item__text .-table {
  width: 100%;
}
.-card__item__text .-table dl {
  width: 100%;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(246, 237, 219);
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  padding: 10px 0;
}
.-card__item__text .-table dt {
  width: 180px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  padding-left: 10px;
}
.-card__item__text .-table dd {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 16px;
  font-size: 1.6rem;
  padding-left: 10px;
  color: #999;
}
.-card__pj {
  width: 100%;
  margin: 50px auto;
}
.-card__pj figure {
  text-align: center;
}
.-card__pj figure p {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.-card__pj figure p.full {
  max-width: 100%;
}
.-card__pj figure img {
  width: 100%;
}
.-card__backBtn {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.-card__backBtn a {
  min-width: 200px;
  height: 56px;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: bold;
  color: #fff;
  background: #9a0022;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.-card__backBtn a:hover {
  background: #fff;
  color: #9a0022;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
